* {
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #9c44cc;
  --color-2: #b29be3;
  --color-3: #6c2c84;
  --color-4: #7964a7;
  --color-5: #ccaedc;
  --color-6: #413765;
}

html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-4);
}

.container {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-2);
}

.container_main {
  width: 100%;
}

.container_main,
.container_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons_control {
  display: flex;
  flex-direction: column;
}

.change_size,
#paleta,
.rotate_control {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1.25rem;
}

.title_buttons {
  padding: 0rem 1.25rem;
}

.control {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  background-color: var(--color-3);
  color: var(--color-2);
  cursor: pointer;
}

.container_box {
  height: 450px;
  width: 450px;
}

#caja {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 5px SOLID black;
  transition: all 0.3s ease;
}

.color {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
